name: Run Tests

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain: ['1.85.0', '1.89.0']
        feature: ['none', 'cpal', 'mp3', 'all']
    steps:
      - uses: actions/checkout@v4
      - name: install cpal dependencies
        run: sudo apt-get install libasound2-dev
      - name: install toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.toolchain }}
      - name: cache
        uses: Swatinem/rust-cache@v2
      - name: run tests (desktop - ${{ (matrix.feature == 'all' && 'all features') || (matrix.feature == 'none' && 'no feature' || matrix.feature) }})
        run: >
          cargo test
          --package kira
          ${{ ( matrix.feature == 'all' ) && '--all-features' || '--no-default-features --lib' }}
          ${{ ( matrix.feature != 'all' && matrix.feature != 'none' ) && format('--features={0}', matrix.feature) || '' }}
